header{
  background-color:#333;
  text-align: center;
}
h1{
  display:inline;
  
  background: linear-gradient(0deg, #0000FF, #FF0000);
  background: -webkit-linear-gradient(0deg, #0000FF,#FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
