div{
  background-color:deepskyblue;
  margin:20px;
}
aside{
  width:200px;
  height:300px;
  background-color:red;
  margin-right:20px
}
main{
  
}
.top{
  height:75vh;
  background-color:#444;
}
.middle{
  height:75vh;
  background-color:#888;
}
.bottom{
  height:75vh;
  background-color:#ccc;
}


  
  
