div{
  background-color:deepskyblue;
  margin-bottom:100vh;
}
aside{
  width:200px;
  height:300px;
  background-color:red;
  margin-right:20px;
}
main{
}
.top{
  height:75vh;
  background-color:#444;
  display:block;
}
.middle{
  height:75vh;
  background-color:#888;
  display:block;
}
.bottom{
  height:75vh;
  background-color:#ccc;
  display:block;
}


  
  
